@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

$main-font: "Roboto", sans-serif;
$secondary-font: "Roboto Condensed", sans-serif;

$main-black-color: #111111;
$secondary-black-color: #333333;

$main-white-color: #eeeeee;
$secondary-white-color: #cccccc;

$color-pink: #fc9e8e;
$color-red: #de3f53;
$color-yellow: #fce5cd;
$color-dark-yellow: #e69138;
$color-purple: #351c75;
$color-li-item: #1a223f;
$color-li-hover: #334481;
$color-li-done: #515b85;

$border4: 0.25rem;
$border8: 0.5rem;
$border16: 1rem;
